USE [master]
GO
/****** Object:  Database [LEGAJOS]    Script Date: 14/09/2018 17:28:36 ******/
CREATE DATABASE [LEGAJOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEGAJOS1', FILENAME = N'D:\MSSQL\DATA\LEGAJOS1.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LEGAJOS1_log', FILENAME = N'D:\MSSQL\DATA\LEGAJOS1_log.ldf' , SIZE = 18240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEGAJOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LEGAJOS]
GO
USE [LEGAJOS]
GO
/****** Object:  Table [dbo].[MADJUNTOS]    Script Date: 14/09/2018 17:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MADJUNTOS](
	[MADJ_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NULL,
	[MOBJ_ID] [char](5) NOT NULL,
	[MARCH_ID] [char](5) NOT NULL,
	[MADJ_NOMBRES] [varchar](200) NOT NULL,
	[MADJ_URL] [varchar](350) NULL,
	[MADJ_ESTADO] [char](1) NOT NULL,
 CONSTRAINT [PK_MADJUNTOS] PRIMARY KEY CLUSTERED 
(
	[MADJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUDITOR]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUDITOR](
	[MAUD_ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSU_ID] [int] NOT NULL,
	[MFUN_ORDEN] [varchar](150) NOT NULL,
	[MUSU_LOGIN] [varchar](100) NOT NULL,
	[MOBJ_ID] [int] NOT NULL,
	[MAUD_FECHA] [datetime] NOT NULL,
	[MAUD_HOST] [varchar](200) NULL,
 CONSTRAINT [PK_MAUDITOR] PRIMARY KEY CLUSTERED 
(
	[MAUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCARGO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCARGO](
	[MCARG_ID] [int] IDENTITY(1,1) NOT NULL,
	[MCARG_CODIGO] [varchar](4) NOT NULL,
	[MCARG_NOMBRE] [varchar](50) NOT NULL,
	[MCARG_ESTADO] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCONTRATO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCONTRATO](
	[MCON_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MCON_FECHA] [date] NOT NULL,
	[MCON_NUMERO] [varchar](150) NULL,
	[MCON_MODALIDAD] [varchar](200) NULL,
	[MTABLA_ID] [int] NULL,
	[MCON_ORIGEN] [varchar](350) NULL,
	[MPERS_NIVREMUN] [varchar](300) NULL,
	[MCON_TIPO] [varchar](6) NULL,
	[MCON_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_MCONTRATO] PRIMARY KEY CLUSTERED 
(
	[MCON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDEPARTAMENTO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDEPARTAMENTO](
	[MDEPA_ID] [char](2) NOT NULL,
	[MPAIS_ID] [char](3) NULL,
	[MDEPA_NOMBRE] [varchar](200) NULL,
	[MDEPA_ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDISTRITO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDISTRITO](
	[MDIST_ID] [char](6) NOT NULL,
	[MPROV_ID] [char](4) NULL,
	[MDIST_NOMBRE] [varchar](200) NULL,
	[MDIST_ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDOCUMENTOS]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDOCUMENTOS](
	[MDOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MTABL_ID] [int] NOT NULL,
	[MOBJ_ID] [int] NOT NULL,
	[MDOC_DESCRIPCION] [varchar](250) NOT NULL,
	[MDOC_ALIAS] [varchar](150) NOT NULL,
	[MDOC_ESTADO] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDOMICILIO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDOMICILIO](
	[MDOM_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MDOM_NOMBRE] [varchar](100) NULL,
	[MDIST_ID] [char](6) NULL,
	[MDOM_REFERENCIA] [varchar](300) NULL,
	[MDOM_TELFIJO] [varchar](11) NULL,
	[MDOM_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_MDOMICILIO] PRIMARY KEY CLUSTERED 
(
	[MDOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESTABLECIMIENTO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESTABLECIMIENTO](
	[MEST_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[MRED_ID] [int] NOT NULL,
	[MMIC_ID] [int] NOT NULL,
	[MEST_ID] [int] NOT NULL,
	[MEST_CODIGO] [varchar](5) NOT NULL,
	[MEST_PADRE] [int] NULL,
	[MEST_NOMBRE] [varchar](200) NULL,
	[MEST_UBIGEO] [int] NULL,
	[MEST_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEST_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESTUDIOS]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESTUDIOS](
	[MESTU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MTABL_ID] [int] NOT NULL,
	[MESTU_DESC] [varchar](350) NULL,
	[MESTU_ESPE] [varchar](350) NULL,
	[MESTU_UBIC] [varchar](350) NULL,
	[MESTU_ESTADO] [char](1) NULL,
	[MESTU_TIPO] [char](1) NULL,
 CONSTRAINT [PK_MESTUDIOS] PRIMARY KEY CLUSTERED 
(
	[MESTU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MFILIAL]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFILIAL](
	[MFIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MFIL_APEHIJO] [varchar](200) NULL,
	[MFIL_NOMHIJO] [varchar](200) NULL,
	[MFIL_FECNAC] [date] NOT NULL,
	[MFIL_SEXO] [char](2) NOT NULL,
	[MFIL_ESSALUD] [varchar](50) NOT NULL,
	[MFIL_ESTADO] [char](1) NOT NULL,
 CONSTRAINT [PK_MFILIAL] PRIMARY KEY CLUSTERED 
(
	[MFIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MFUNCION]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFUNCION](
	[MFUN_NOMBRE] [varchar](100) NOT NULL,
	[MFUN_ORDEN] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MMICRORED]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MMICRORED](
	[MRED_ID] [int] NOT NULL,
	[MMIC_ID] [int] NOT NULL,
	[MMIC_NOMBRE] [varchar](50) NOT NULL,
	[MMIC_ORDEN] [int] NOT NULL,
	[MMIC_ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOBJETO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOBJETO](
	[MOBJ_ID] [int] IDENTITY(1,1) NOT NULL,
	[MOBJ_ALIAS] [varchar](50) NOT NULL,
	[MOBJ_NOMBRE] [varchar](50) NOT NULL,
	[MOBJ_ENLACE] [varchar](50) NOT NULL,
	[MOBJ_ICON] [varchar](50) NOT NULL,
	[MOBJ_PADRE] [int] NOT NULL,
	[MOBJ_ORDEN] [int] NOT NULL,
	[MOBJ_ESTADO] [int] NOT NULL,
	[MOBJTIPO_ID] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOBJETO_TIPO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOBJETO_TIPO](
	[MOBJTIPO_ID] [int] IDENTITY(1,1) NOT NULL,
	[MOBJTIPO_ALIAS] [varchar](50) NOT NULL,
	[MOBJTIPO_NOMBRE] [varchar](50) NOT NULL,
	[MOBJTIPO_ESTADO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPERFIL]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPERFIL](
	[MPERF_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERF_ALIAS] [varchar](20) NOT NULL,
	[MPERF_NOMBRE] [varchar](50) NOT NULL,
	[MPERF_DESCRIP] [varchar](200) NULL,
	[MPERF_FECINS] [datetime] NULL,
	[MPERF_HOST] [varchar](100) NULL,
	[MPERF_USERINS] [varchar](100) NULL,
	[MPERF_ESTADO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPERMISO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPERMISO](
	[MPERM_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERF_ID] [int] NULL,
	[MOBJ_ID] [int] NULL,
	[MFUN_ORDEN] [int] NULL,
	[MPERM_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_MPERMISO] PRIMARY KEY CLUSTERED 
(
	[MPERM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPERSONA]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPERSONA](
	[MPERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_APEPAT] [varchar](100) NULL,
	[MPERS_APEMAT] [varchar](100) NULL,
	[MPERS_NOMBRES] [varchar](200) NULL,
	[MPERS_TIPDOC] [int] NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NULL,
	[MPERS_TIPOPER] [int] NOT NULL,
	[MDEPA_ID] [char](2) NULL,
	[MPROV_ID] [char](4) NULL,
	[MDIST_ID] [char](6) NULL,
	[MPERS_FECNAC] [date] NULL,
	[MPERS_NACIONAL] [varchar](30) NOT NULL,
	[MPERS_SEXO] [char](2) NOT NULL,
	[MPERS_ESTACIVIL] [char](2) NOT NULL,
	[MPERS_NOMCONYU] [varchar](200) NULL,
	[MPERS_GRADINST] [char](2) NOT NULL,
	[MPERS_PROFESION] [varchar](300) NULL,
	[MPERS_ESPECIALID] [varchar](300) NULL,
	[MPERS_MONTO] [varchar](9) NOT NULL,
	[MCARG_CODIGO] [varchar](4) NOT NULL,
	[MPERS_REGPENSION] [varchar](300) NULL,
	[MPERS_REGLABORAL] [varchar](300) NULL,
	[MPERS_NIVREMUN] [varchar](300) NULL,
	[MPERS_FECREGIMEN] [date] NULL,
	[MEST_CODIGO] [varchar](5) NULL,
	[MPERS_EMAIL] [varchar](80) NULL,
	[MPERS_GRUPOCUPAC] [char](2) NOT NULL,
	[MPERS_NUMUBI] [int] NOT NULL,
	[MPERS_FECINGR] [date] NOT NULL,
	[MPERS_NUMCONTRA] [varchar](50) NOT NULL,
	[MPERS_NUMRUC] [varchar](11) NOT NULL,
	[MPERS_TELMOVIL] [varchar](30) NULL,
	[MPERS_NOMPADRE] [varchar](300) NULL,
	[MPERS_NOMMADRE] [varchar](300) NULL,
	[MPERS_DOMPADRES] [varchar](500) NULL,
	[MPERS_TELPADRES] [varchar](500) NULL,
	[MPERS_ESTADO] [int] NOT NULL,
	[MPERS_NOMAPE_COMPLETO] [varchar](200) NULL,
	[MPERS_FECINS] [varchar](20) NULL,
	[MPERS_FECACT] [varchar](20) NULL,
	[MPERS_USERINS] [varchar](100) NULL,
	[MPERS_USERACT] [varchar](100) NULL,
	[MPERS_HOST] [varchar](100) NULL,
	[MPERS_IMAGEN] [varchar](300) NULL,
 CONSTRAINT [MPERSONA_PK] PRIMARY KEY CLUSTERED 
(
	[MPERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPROVINCIA]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPROVINCIA](
	[MPROV_ID] [char](4) NOT NULL,
	[MDEPA_ID] [char](2) NULL,
	[MPROV_NOMBRE] [varchar](200) NULL,
	[MPROV_ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRED]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRED](
	[MRED_ID] [int] NOT NULL,
	[MRED_NOMBRE] [varchar](50) NOT NULL,
	[MRED_ORDEN] [int] NOT NULL,
	[MRED_ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRENUNCIA]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRENUNCIA](
	[MREN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MREN_FECRESOL] [date] NULL,
	[MREN_FECINIRESOL] [date] NULL,
	[MREN_FECCESE] [date] NULL,
	[MREN_NUMRESOL] [varchar](50) NULL,
	[MTABLA_ID] [int] NULL,
	[MREN_MOTIVO] [varchar](150) NULL,
	[MREN_TIPO] [varchar](100) NULL,
	[MREN_IDTIPO] [char](1) NULL,
	[MREN_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_MRENUNCIA] PRIMARY KEY CLUSTERED 
(
	[MREN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRESUMEN]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRESUMEN](
	[MRES_ID] [int] IDENTITY(1,1) NOT NULL,
	[MPERS_NUMDOC] [varchar](40) NOT NULL,
	[MOBJ_ID] [int] NOT NULL,
	[MRES_ESTADO] [char](1) NULL,
 CONSTRAINT [PK_MRESUMEN] PRIMARY KEY CLUSTERED 
(
	[MRES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTABLA]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTABLA](
	[MTABL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MTABL_TIPO] [int] NOT NULL,
	[MTABL_DESCRIP] [varchar](300) NULL,
	[MTABL_ABREVIA] [varchar](100) NULL,
	[MTABL_IDPADRE] [int] NOT NULL,
	[MTABL_NORDEN] [int] NOT NULL,
	[MTABL_ESTADO] [int] NOT NULL,
 CONSTRAINT [MTABLAS_PK] PRIMARY KEY CLUSTERED 
(
	[MTABL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUBICACION]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUBICACION](
	[MUBI_ID] [int] NOT NULL,
	[MUBI_ALIAS] [varchar](5) NOT NULL,
	[MUBI_NOMBRE] [varchar](100) NOT NULL,
	[MDEPA_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_MUBICACION] PRIMARY KEY CLUSTERED 
(
	[MUBI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSUARIO]    Script Date: 14/09/2018 17:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSUARIO](
	[MUSU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSU_LOGIN] [varchar](100) NULL,
	[MUSU_PASSWORD] [varchar](100) NULL,
	[MUSU_APELLIDO_PAT] [varchar](300) NULL,
	[MUSU_APELLIDO_MAT] [varchar](300) NULL,
	[MUSU_NOMBRES] [varchar](300) NULL,
	[MUSU_FECINI] [date] NULL,
	[MUSU_FECVEN] [date] NULL,
	[MUSU_TEL] [varchar](150) NULL,
	[MUSU_CORREO] [varchar](150) NULL,
	[MUSU_DNI] [varchar](11) NULL,
	[MUSU_USERINS] [varchar](100) NULL,
	[MUSU_IMG] [varchar](100) NULL,
	[MUSU_HOST] [varchar](200) NULL,
	[MUSU_ESTADO] [int] NOT NULL,
	[MPERF_ID] [int] NOT NULL,
	[MESTA_RENAES] [varchar](30) NULL,
	[MUSU_OBSERVACION] [varchar](2000) NULL,
 CONSTRAINT [PK_MUSUARIO] PRIMARY KEY CLUSTERED 
(
	[MUSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MADJUNTOS] ON 

INSERT [dbo].[MADJUNTOS] ([MADJ_ID], [MPERS_NUMDOC], [MOBJ_ID], [MARCH_ID], [MADJ_NOMBRES], [MADJ_URL], [MADJ_ESTADO]) VALUES (1, N'00000001', N'2    ', N'01   ', N'FICHA DE RESUMEN', N'00000001_01_3779752.pdf', N'1')
INSERT [dbo].[MADJUNTOS] ([MADJ_ID], [MPERS_NUMDOC], [MOBJ_ID], [MARCH_ID], [MADJ_NOMBRES], [MADJ_URL], [MADJ_ESTADO]) VALUES (2, N'00000001', N'2    ', N'02   ', N'FICHA DE ACTUALIZACIÓN DE PERSONAL', N'00000001_02_3779752.pdf', N'1')
INSERT [dbo].[MADJUNTOS] ([MADJ_ID], [MPERS_NUMDOC], [MOBJ_ID], [MARCH_ID], [MADJ_NOMBRES], [MADJ_URL], [MADJ_ESTADO]) VALUES (3, N'00000001', N'2    ', N'03   ', N'SOLICITUD DE TRABAJO', N'00000001_03_3779754.pdf', N'1')
SET IDENTITY_INSERT [dbo].[MADJUNTOS] OFF
SET IDENTITY_INSERT [dbo].[MAUDITOR] ON 

INSERT [dbo].[MAUDITOR] ([MAUD_ID], [MUSU_ID], [MFUN_ORDEN], [MUSU_LOGIN], [MOBJ_ID], [MAUD_FECHA], [MAUD_HOST]) VALUES (1, 1, N'1', N'jivancplml@gmail.com', 1, CAST(N'2018-09-13T09:14:49.000' AS DateTime), N'172.16.20.48')
INSERT [dbo].[MAUDITOR] ([MAUD_ID], [MUSU_ID], [MFUN_ORDEN], [MUSU_LOGIN], [MOBJ_ID], [MAUD_FECHA], [MAUD_HOST]) VALUES (2, 1, N'1', N'jivancplml@gmail.com', 1, CAST(N'2018-09-13T09:14:52.000' AS DateTime), N'172.16.20.48')
INSERT [dbo].[MAUDITOR] ([MAUD_ID], [MUSU_ID], [MFUN_ORDEN], [MUSU_LOGIN], [MOBJ_ID], [MAUD_FECHA], [MAUD_HOST]) VALUES (3, 1, N'1', N'jivancplml@gmail.com', 22, CAST(N'2018-09-13T09:15:07.000' AS DateTime), N'172.16.20.48')
GO
SET IDENTITY_INSERT [dbo].[MAUDITOR] OFF
SET IDENTITY_INSERT [dbo].[MCARGO] ON 

INSERT [dbo].[MCARGO] ([MCARG_ID], [MCARG_CODIGO], [MCARG_NOMBRE], [MCARG_ESTADO]) VALUES (1, N'0110', N'DIRECTOR/A EJECUTIVO/A', N'1')
INSERT [dbo].[MCARGO] ([MCARG_ID], [MCARG_CODIGO], [MCARG_NOMBRE], [MCARG_ESTADO]) VALUES (2, N'0111', N'DIRECTOR EJEC. ADJUNTO', N'1')
INSERT [dbo].[MCARGO] ([MCARG_ID], [MCARG_CODIGO], [MCARG_NOMBRE], [MCARG_ESTADO]) VALUES (3, N'0300', N'MEDICO', N'1')
SET IDENTITY_INSERT [dbo].[MCARGO] OFF
INSERT [dbo].[MDEPARTAMENTO] ([MDEPA_ID], [MPAIS_ID], [MDEPA_NOMBRE], [MDEPA_ESTADO]) VALUES (N'00', N'000', N'NINGUNO', 0)
INSERT [dbo].[MDEPARTAMENTO] ([MDEPA_ID], [MPAIS_ID], [MDEPA_NOMBRE], [MDEPA_ESTADO]) VALUES (N'01', N'PE ', N'AMAZONAS', 1)
INSERT [dbo].[MDEPARTAMENTO] ([MDEPA_ID], [MPAIS_ID], [MDEPA_NOMBRE], [MDEPA_ESTADO]) VALUES (N'02', N'PE ', N'ANCASH', 1)
INSERT [dbo].[MDISTRITO] ([MDIST_ID], [MPROV_ID], [MDIST_NOMBRE], [MDIST_ESTADO]) VALUES (N'000000', N'0000', N'NINGUNO', 0)
INSERT [dbo].[MDISTRITO] ([MDIST_ID], [MPROV_ID], [MDIST_NOMBRE], [MDIST_ESTADO]) VALUES (N'010101', N'0101', N'CHACHAPOYAS', 1)
INSERT [dbo].[MDISTRITO] ([MDIST_ID], [MPROV_ID], [MDIST_NOMBRE], [MDIST_ESTADO]) VALUES (N'010102', N'0101', N'ASUNCION', 1)
GO
SET IDENTITY_INSERT [dbo].[MDOMICILIO] ON 

INSERT [dbo].[MDOMICILIO] ([MDOM_ID], [MPERS_NUMDOC], [MDOM_NOMBRE], [MDIST_ID], [MDOM_REFERENCIA], [MDOM_TELFIJO], [MDOM_ESTADO]) VALUES (1, N'00000001', N'DOMICILIO', N'150101', N'REFERENCIA', N'', N'1')
INSERT [dbo].[MDOMICILIO] ([MDOM_ID], [MPERS_NUMDOC], [MDOM_NOMBRE], [MDIST_ID], [MDOM_REFERENCIA], [MDOM_TELFIJO], [MDOM_ESTADO]) VALUES (2, N'00000002', N'DOMICILIO', N'150104', N'REFERENCIA', N'', N'1')
INSERT [dbo].[MDOMICILIO] ([MDOM_ID], [MPERS_NUMDOC], [MDOM_NOMBRE], [MDIST_ID], [MDOM_REFERENCIA], [MDOM_TELFIJO], [MDOM_ESTADO]) VALUES (3, N'00000003', N'DOMICILIO', N'150102', N'REFERENCIA', N'', N'1')
SET IDENTITY_INSERT [dbo].[MDOMICILIO] OFF
SET IDENTITY_INSERT [dbo].[MESTABLECIMIENTO] ON 

INSERT [dbo].[MESTABLECIMIENTO] ([MEST_ORDEN], [MRED_ID], [MMIC_ID], [MEST_ID], [MEST_CODIGO], [MEST_PADRE], [MEST_NOMBRE], [MEST_UBIGEO], [MEST_ESTADO]) VALUES (1, 1, 1, 1, N'05791', 100, N'C.S. TAHUANTINSUYO BAJO', 150112, 1)
INSERT [dbo].[MESTABLECIMIENTO] ([MEST_ORDEN], [MRED_ID], [MMIC_ID], [MEST_ID], [MEST_CODIGO], [MEST_PADRE], [MEST_NOMBRE], [MEST_UBIGEO], [MEST_ESTADO]) VALUES (2, 1, 1, 2, N'05792', 100, N'C.S. TAHUANTINSUYO ALTO', 150112, 1)
INSERT [dbo].[MESTABLECIMIENTO] ([MEST_ORDEN], [MRED_ID], [MMIC_ID], [MEST_ID], [MEST_CODIGO], [MEST_PADRE], [MEST_NOMBRE], [MEST_UBIGEO], [MEST_ESTADO]) VALUES (3, 1, 1, 3, N'05793', 100, N'C.S. TUPAC AMARU', 150112, 1)
GO
SET IDENTITY_INSERT [dbo].[MESTABLECIMIENTO] OFF
INSERT [dbo].[MFUNCION] ([MFUN_NOMBRE], [MFUN_ORDEN]) VALUES (N'MENU', 1)
INSERT [dbo].[MFUNCION] ([MFUN_NOMBRE], [MFUN_ORDEN]) VALUES (N'VER', 2)
INSERT [dbo].[MFUNCION] ([MFUN_NOMBRE], [MFUN_ORDEN]) VALUES (N'CREAR', 3)
INSERT [dbo].[MMICRORED] ([MRED_ID], [MMIC_ID], [MMIC_NOMBRE], [MMIC_ORDEN], [MMIC_ESTADO]) VALUES (0, 0, N'NO PERTENECE A NINGUN MICRORED', 0, 1)
INSERT [dbo].[MMICRORED] ([MRED_ID], [MMIC_ID], [MMIC_NOMBRE], [MMIC_ORDEN], [MMIC_ESTADO]) VALUES (1, 1, N'TAHUANTINSUYO BAJO', 1, 1)
INSERT [dbo].[MMICRORED] ([MRED_ID], [MMIC_ID], [MMIC_NOMBRE], [MMIC_ORDEN], [MMIC_ESTADO]) VALUES (1, 2, N'SANTA LUZMILA', 2, 1)
SET IDENTITY_INSERT [dbo].[MOBJETO] ON 

INSERT [dbo].[MOBJETO] ([MOBJ_ID], [MOBJ_ALIAS], [MOBJ_NOMBRE], [MOBJ_ENLACE], [MOBJ_ICON], [MOBJ_PADRE], [MOBJ_ORDEN], [MOBJ_ESTADO], [MOBJTIPO_ID]) VALUES (1, N'LEGAJOS', N'LEGAJOS', N'', N'fa fa-angle-right', 0, 1, 1, N'1')
INSERT [dbo].[MOBJETO] ([MOBJ_ID], [MOBJ_ALIAS], [MOBJ_NOMBRE], [MOBJ_ENLACE], [MOBJ_ICON], [MOBJ_PADRE], [MOBJ_ORDEN], [MOBJ_ESTADO], [MOBJTIPO_ID]) VALUES (2, N'FILIACION', N'Filiación e Identificación Personal', N'seccioni', N'fa fa-edit', 0, 1, 1, N'2')
INSERT [dbo].[MOBJETO] ([MOBJ_ID], [MOBJ_ALIAS], [MOBJ_NOMBRE], [MOBJ_ENLACE], [MOBJ_ICON], [MOBJ_PADRE], [MOBJ_ORDEN], [MOBJ_ESTADO], [MOBJTIPO_ID]) VALUES (3, N'EDUCATIVO', N'Nivel Educativo', N'seccionii', N'fa fa-edit', 0, 2, 1, N'2')
SET IDENTITY_INSERT [dbo].[MOBJETO] OFF
SET IDENTITY_INSERT [dbo].[MOBJETO_TIPO] ON 

INSERT [dbo].[MOBJETO_TIPO] ([MOBJTIPO_ID], [MOBJTIPO_ALIAS], [MOBJTIPO_NOMBRE], [MOBJTIPO_ESTADO]) VALUES (1, N'P', N'MENU PRINCIPAL', 1)
INSERT [dbo].[MOBJETO_TIPO] ([MOBJTIPO_ID], [MOBJTIPO_ALIAS], [MOBJTIPO_NOMBRE], [MOBJTIPO_ESTADO]) VALUES (2, N'S', N'MENU SECUNDARIO', 1)
INSERT [dbo].[MOBJETO_TIPO] ([MOBJTIPO_ID], [MOBJTIPO_ALIAS], [MOBJTIPO_NOMBRE], [MOBJTIPO_ESTADO]) VALUES (3, N'H', N'MENU HEADER', 1)
SET IDENTITY_INSERT [dbo].[MOBJETO_TIPO] OFF
SET IDENTITY_INSERT [dbo].[MPERFIL] ON 

INSERT [dbo].[MPERFIL] ([MPERF_ID], [MPERF_ALIAS], [MPERF_NOMBRE], [MPERF_DESCRIP], [MPERF_FECINS], [MPERF_HOST], [MPERF_USERINS], [MPERF_ESTADO]) VALUES (1, N'ADM. SISTEMAS', N'ADMINISTRADOR DE SISTEMAS', N'PERFIL QUE BRINDA SOPORTE AL SISTEMA DE LEGAJOS', CAST(N'2018-06-20T12:00:00.000' AS DateTime), N'172.16.20.19', N'jivancplml@gmail.com', 1)
INSERT [dbo].[MPERFIL] ([MPERF_ID], [MPERF_ALIAS], [MPERF_NOMBRE], [MPERF_DESCRIP], [MPERF_FECINS], [MPERF_HOST], [MPERF_USERINS], [MPERF_ESTADO]) VALUES (2, N'REG. LEGAJOS', N'REGISTRADOR DE LEGAJOS', N'PERFIL QUE INGRESA LA INFORMACIÓN DE OS TRABAJADORES DE LA DIRIS LN', CAST(N'2018-06-20T00:00:00.000' AS DateTime), N'172.16.20.19', N'jivancplml@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[MPERFIL] OFF
SET IDENTITY_INSERT [dbo].[MPERMISO] ON 

INSERT [dbo].[MPERMISO] ([MPERM_ID], [MPERF_ID], [MOBJ_ID], [MFUN_ORDEN], [MPERM_ESTADO]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[MPERMISO] ([MPERM_ID], [MPERF_ID], [MOBJ_ID], [MFUN_ORDEN], [MPERM_ESTADO]) VALUES (2, 1, 1, 2, 1)
INSERT [dbo].[MPERMISO] ([MPERM_ID], [MPERF_ID], [MOBJ_ID], [MFUN_ORDEN], [MPERM_ESTADO]) VALUES (3, 1, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[MPERMISO] OFF
SET IDENTITY_INSERT [dbo].[MPERSONA] ON 

SET IDENTITY_INSERT [dbo].[MPERSONA] OFF
INSERT [dbo].[MPROVINCIA] ([MPROV_ID], [MDEPA_ID], [MPROV_NOMBRE], [MPROV_ESTADO]) VALUES (N'0000', N'00', N'NINGUNO', 0)
INSERT [dbo].[MPROVINCIA] ([MPROV_ID], [MDEPA_ID], [MPROV_NOMBRE], [MPROV_ESTADO]) VALUES (N'0099', N'05', N'KYOTO', 1)
INSERT [dbo].[MPROVINCIA] ([MPROV_ID], [MDEPA_ID], [MPROV_NOMBRE], [MPROV_ESTADO]) VALUES (N'0101', N'01', N'CHACHAPOYAS', 1)
GO
INSERT [dbo].[MRED] ([MRED_ID], [MRED_NOMBRE], [MRED_ORDEN], [MRED_ESTADO]) VALUES (0, N'NO PERTENECE A NINGUNA RED', 0, 1)
INSERT [dbo].[MRED] ([MRED_ID], [MRED_NOMBRE], [MRED_ORDEN], [MRED_ESTADO]) VALUES (1, N'RED DE SALUD TUPAC AMARU', 1, 1)
INSERT [dbo].[MRED] ([MRED_ID], [MRED_NOMBRE], [MRED_ORDEN], [MRED_ESTADO]) VALUES (2, N'RED DE SALUD PUENTE PIEDRA', 2, 1)
SET IDENTITY_INSERT [dbo].[MRESUMEN] ON 

INSERT [dbo].[MRESUMEN] ([MRES_ID], [MPERS_NUMDOC], [MOBJ_ID], [MRES_ESTADO]) VALUES (1, N'00000001', 2, N'1')
INSERT [dbo].[MRESUMEN] ([MRES_ID], [MPERS_NUMDOC], [MOBJ_ID], [MRES_ESTADO]) VALUES (2, N'00000002', 2, N'1')
INSERT [dbo].[MRESUMEN] ([MRES_ID], [MPERS_NUMDOC], [MOBJ_ID], [MRES_ESTADO]) VALUES (3, N'00000003', 2, N'1')
SET IDENTITY_INSERT [dbo].[MRESUMEN] OFF
SET IDENTITY_INSERT [dbo].[MTABLA] ON 

INSERT [dbo].[MTABLA] ([MTABL_ID], [MTABL_TIPO], [MTABL_DESCRIP], [MTABL_ABREVIA], [MTABL_IDPADRE], [MTABL_NORDEN], [MTABL_ESTADO]) VALUES (1, 1, N'ESTADO CIVIL', NULL, 0, 0, 1)
INSERT [dbo].[MTABLA] ([MTABL_ID], [MTABL_TIPO], [MTABL_DESCRIP], [MTABL_ABREVIA], [MTABL_IDPADRE], [MTABL_NORDEN], [MTABL_ESTADO]) VALUES (2, 1, N'SOLTERO/A', NULL, 1, 1, 1)
INSERT [dbo].[MTABLA] ([MTABL_ID], [MTABL_TIPO], [MTABL_DESCRIP], [MTABL_ABREVIA], [MTABL_IDPADRE], [MTABL_NORDEN], [MTABL_ESTADO]) VALUES (3, 1, N'CASADO/A', NULL, 1, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[MTABLA] OFF
INSERT [dbo].[MUBICACION] ([MUBI_ID], [MUBI_ALIAS], [MUBI_NOMBRE], [MDEPA_ESTADO]) VALUES (1, N'NPS', N'NOMBRADO PROFESIONAL DE LA SALUD', 1)
INSERT [dbo].[MUBICACION] ([MUBI_ID], [MUBI_ALIAS], [MUBI_NOMBRE], [MDEPA_ESTADO]) VALUES (2, N'NPA', N'NOMBRADO PROFESIONAL ADMINISTRATIVO', 1)
INSERT [dbo].[MUBICACION] ([MUBI_ID], [MUBI_ALIAS], [MUBI_NOMBRE], [MDEPA_ESTADO]) VALUES (3, N'NT', N'NOMBRADO TECNICO', 1)
SET IDENTITY_INSERT [dbo].[MUSUARIO] ON 

INSERT [dbo].[MUSUARIO] ([MUSU_ID], [MUSU_LOGIN], [MUSU_PASSWORD], [MUSU_APELLIDO_PAT], [MUSU_APELLIDO_MAT], [MUSU_NOMBRES], [MUSU_FECINI], [MUSU_FECVEN], [MUSU_TEL], [MUSU_CORREO], [MUSU_DNI], [MUSU_USERINS], [MUSU_IMG], [MUSU_HOST], [MUSU_ESTADO], [MPERF_ID], [MESTA_RENAES], [MUSU_OBSERVACION]) VALUES (1, N'jivancplml@gmail.com', N'$2y$10$VrPwnJa/U/a34rhzBxuOMeIk27kuED/fM2jEveU/t.nmgIzFyQMay', N'CRUZ', N'PEÑA', N'IVAN JORGE', CAST(N'2018-06-19' AS Date), NULL, N'964153832', N'jivancplml@gmail.com', N'46876484', N'1', N'default_user.png', N'172.16.0.3', 1, 1, N'00000', NULL)
INSERT [dbo].[MUSUARIO] ([MUSU_ID], [MUSU_LOGIN], [MUSU_PASSWORD], [MUSU_APELLIDO_PAT], [MUSU_APELLIDO_MAT], [MUSU_NOMBRES], [MUSU_FECINI], [MUSU_FECVEN], [MUSU_TEL], [MUSU_CORREO], [MUSU_DNI], [MUSU_USERINS], [MUSU_IMG], [MUSU_HOST], [MUSU_ESTADO], [MPERF_ID], [MESTA_RENAES], [MUSU_OBSERVACION]) VALUES (2, N'demo@gmail.com', N'$2y$10$MjhxU3OPnWOGVgd07DwkfuXUjqhrFb9l7ugC2DvK83NdkNhDDU/Pq', N'demo', N'demo', N'demo demo ', CAST(N'2018-06-19' AS Date), NULL, N'123456789', N'demo@gmail.com', N'98765423', N'1', N'default_user.png', N'172.16.0.3', 1, 2, N'00000', NULL)
SET IDENTITY_INSERT [dbo].[MUSUARIO] OFF
USE [master]
GO
